@model PrevisaoTempoAPI.Models.EnderecoViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Consultar CEP</title>
</head>

<body>
    <div class="container form-inline" style="margin-top:30px">
        <h2 class="">Consultar e Cadastrar CEP</h2>
        <br /><br />
        <form asp-action="PesquisarEndereco" asp-controller="Endereco">
            <input type="text" id="txtCEP" class="form-control col-6"
                   placeholder="Digite o CEP" name="txtCEP" />
            <input type="submit" value="Consultar e Cadastrar" class="btn btn-info" />
        </form>
    </div>

    <div class="container" style="margin-top:30px">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>CEP</th>
                    <th>Logradouro</th>
                    <th>Complemento</th>
                    <th>Bairro</th>
                    <th>Localidade</th>
                    <th>UF</th>
                    <th>Unidade</th>
                    <th>IBGE</th>
                    <th>GIA</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var endereco in Model.Enderecos)
                {
                    <tr>
                        <td>@endereco.CEP</td>
                        <td>@endereco.Logradouro</td>
                        <td>@endereco.Complemento</td>
                        <td>@endereco.Bairro</td>
                        <td>@endereco.Localidade</td>
                        <td>@endereco.UF</td>
                        <td>@endereco.Unidade</td>
                        <td>@endereco.IBGE</td>
                        <td>@endereco.GIA</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
